<h1>Edit your Memory</h1>

<form class="" action="/memories/<%= @memory.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
    <label for="title"> Title: </label>
        <input type="text" id="title" name="title" value="<%=@memory.title%>">
        <br>
    <label for="description"> Description: </label>
        <textarea name="description" style="width:auto; height:auto;"> <%= @memory.description%>"></textarea>
        <br>
        <br>
    <label for="date"> Date:</label>
        <input type="text" id="date" name="date" value="<%= @memory.date%>">
        <br>
        <br>
    <label for="image_url">Image Link: </label>
        <input type="text" id="image_url" name="image_url" value="<%= @memory.image_url%>">
        <br>
        <br>
    <h3>Select Category</h3>
     <input type="radio"  name="category_id" value="11"> Bucket List <br>
        <input type="radio"  name="category_id" value="13"> Careers <br>
        <input type="radio"  name="category_id" value="17"> Elderly Years <br>
        <input type="radio"  name="category_id" value="2"> Family <br>
        <input type="radio"  name="category_id" value="12"> Friends <br>
        <input type="radio"  name="category_id" value="1"> Hobbies <br>
        <input type="radio"  name="category_id" value="7"> Medical History <br>
        <input type="radio"  name="category_id" value="16"> Mid Life Years <br>
        <input type="radio"  name="category_id" value="10"> Pets <br>
        <input type="radio"  name="category_id" value="14"> Places You Lived <br>
        <input type="radio"  name="category_id" value="15"> School Age Years <br>
        <input type="radio"  name="category_id" value="4"> Travel <br>
    <br>
    <input type="submit" value="Update Memory">
</form>
