<br>

<h1>Shared Memories</h1>

<a href="/categories"> Shared Memories by Category</a>
    <br>
    <br>
    <%@memory.each do |memory|%>
    <h3> <a href="/memories/<%= memory.id%>"> <%= memory.title%> </a></h3>
  
    <img src="<%=memory.image_url%>"  photo height="150" width="150">
        <br>
    <h5> Date:<%= memory.date %> </h5>
    <h5> Category: <%= memory.category.name%></h5>
        <br>
        <br>
        <br>
        
    <%end%>


