<br>
<h1>All Your Memories</h1>
    <br>

    <%@memory.each do |mem|%>
    <h3> <a href="/memories/<%= mem.id%>"> <%= mem.title%> </a></h3>
    <img src="<%=mem.image_url%>" alt="<%= mem.title %> photo" height="100" width="100">
        <br>
    <%= mem.date%>
        <br>
        <br>
        <br>
    <%end%>


