<br>

<h3> <%= @memory.title %> </a> </h3>

 <img src="<%= @memory.image_url %>" alt="photo" height="350" width="350"></a>
        <br>
    <p> Date: <%= @memory.date%> </p>
    <p>  Description:  <%= @memory.description%> </p>
    <p> Category: <%= @memory.category.name %><p>
        <br>
        <br>
        <br>
   
    <a href="/login"> Return to Your Memories </a>
    <br>
    <br>
    <a href="/memories"> Return to Shared Memories </a>
    <br>
    <br>
    <% if authorized_to_edit_delete(@memory)%>
    <a href="/memories/<%= @memory.id %>/edit"> Edit Memory </a>
    <br>
    <br>
    <form class="" action="/memories/<%= @memory.id%>/delete" method="POST"> 
        <input type="hidden" name="_method" value="delete">
        <input type="submit" name="" value="Delete Memory">
    <%end%>
    </form>