<br>
<h3> <%= @memory.title %> </a> </h3>

 <img src="<%= @memory.image_url %>" alt="photo" height="100" width="100"></a>
        <br>
    <p> Date: <%= @memory.date%> </p>
    <p>  Description:  <%= @memory.description%> </p>

    
    
    <p> Category: <%= if @memory.category_id == 1
                    "Hobbies"
                    elsif @memory.category_id == 2 
                    "Family"
                    elsif @memory.category_id == 4 
                    "Travel"
                    elsif @memory.category_id == 7
                    "Medical History"
                    elsif @memory.category_id == 10 
                    "Pets"
                    elsif @memory.category_id == 11 
                    "Bucket List"
                    elsif @memory.category_id == 12 
                    "Friends"
                    elsif @memory.category_id == 13 
                    "Careers"
                    elsif @memory.category_id == 14 
                    "Places You Lived"
                    elsif @memory.category_id == 15
                    "School Age Years"
                    elsif @memory.category_id == 16 
                    "Mid Life Years"
                    elsif @memory.category_id == 18 
                    "Retirement Years"
                    else 
                    "A category was not selected."
                    end%> </h5>
    </p>
    
        <br>
        <br>
        <br>
   
    <a href="/login"> Return to All Memories </a>
    <br>
    <br>
    <% if authorized_to_edit_delete(@memory)%>
    <a href="/memories/<%= @memory.id %>/edit"> Edit Memory </a>
    <br>
    <br>
    <form class="" action="/memories/<%= @memory.id%>/delete" method="POST"> 
        <input type="hidden" name="_method" value="delete">
        <input type="submit" name="" value="Delete Memory">
    <%end%>
    </form>